<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  
    <add key="InstanceFactory" value="IncluirFreteMedio"/>
    <add key="HoraInicioExecucaoServico" value="17"/>
    <add key="MinutoInicioExecucaoServico" value="3"/>
  
  
  
  
    
  </appSettings>
</configuration>