<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  
    <add key="InstanceFactory" value="IncluirFreteMedioMIS"/>
    <add key="HoraInicioExecucaoServico" value="17"/>
    <add key="MinutoInicioExecucaoServico" value="3"/>
  
  
  
  
  
  
    <add key="MaximoDeThreadsForEach" value="1"/>
    <add key="EnableLogEvent" value="true"/>
    <add key="EnableLogMongo" value="false"/>
    <add key ="IdUnidadeNegocio" value="5"/>
    <add key ="IdLojistaDefault" value="15"/>
    <add key ="TimerInterval" value="3600"/>
    <add key="ApiUtilitarioAddressHost" value="http://api-b2c.extra.com.br/Utilitario/V1/" />
    <add key="TokenSeguranca" value="xsySRMftHiPJDQKK4zFGKxMNNiJVHGLB5KGvn4wBO0plniqm6bWZAmY0ASbH4Z5eqN04aPhsEsfHy6oUYBH+kV3+J2gryWpA/lRj6JVMJZguP5Wh/pvsbQ==" />
    <add key="TipoAcessoSeguranca" value="External" />
    <add key="EmailDestino" value="ti.front.bug@cnova.com.br"/>    
    <add key ="FrequenciaExecucaoEmHoras" value="24"/>
    <add key ="TamanhoLoteExportarParcelamento" value="5000"/>

  
  
    <add key="MobileBandeiraCors" value="http://m.Extra.com.br" />

    <add key="CnovaCacheSecondsDurationL1" value="120" />
    <add key="CnovaCacheSecondsDurationL2" value="3600" />
    <add key="CnovaCacheSecondsDurationL3" value="21600" />

    <add key="NomeCookie" value="Extra" />
    <add key="NomeExibicaoSite" value="Extra" />
    <add key="UserAgentDefault" value="android"/>
    <add key="CrossDomainHeaders" value="AuthTicket,Origin"/>
    <add key="CrossDomainCustomHeaders" value="Accept"/>
    <add key="CryptographicType" value="Gpa.Framework.Common.Cryptographic.CryptographicSHA1"/>
    <add key="CryptographicTypeSHA256" value="Gpa.Framework.Common.Cryptographic.CryptographicSHA256"/>
    <add key="CryptographicTypeSHA1" value="Gpa.Framework.Common.Cryptographic.CryptographicSHA1"/>
    <add key="UnidadesNegocio" value="B2C_Extra" />
    <add key="HostPlataformaSeguranca" value="http://seguranca.nova.com/" />
    <add key="ColecaoCors" value="Cors" />

    <add key="BaseAddressDominioCatalogo" value="http://api-b2c.Extra.com.br/Catalogo/V2/" />
    <add key="ServersMongo" value="10.128.132.232" />
    <add key="DatabaseMongo" value="db_sus_Extra" />
    <add key="UserMongo" value=""/>
    <add key="passwdMongo" value="" />


    <add key="mongoclient-url" value="10.128.132.232" />
    <add key="mongoclient-user" value="" />
    <add key="mongoclient-pwd" value="" />
    <add key="mongoclient-databasename" value="db_sus_Extra" />

    <add key="mongoclient-reusemongodatabaseobj" value="true" />
    <add key="mongoclient-writeconcern" value="Acknowledged" />
    <add key="mongoclient-readpreference" value="Secondary" />
    <add key="mongoclient-connectionmode" value="Automatic" />

    <add key="CnovaCacheSecondsDuration" value="300" />
    <add key="TypeCnovaCacheCnovaCacheSecondsDuration" value="local" />

    <!-- Messaging Requests Configurations -->
    <add key="messaging-security-token" value="6d7426b17f1101a549e9f54f6a480ef2f3b21d349b695cce34762f65b73bd887" />
    <add key="messaging-security-clientid" value="cnova-preco-api" />
    <!-- Subscriptions -->
    <add key="messaging-manager-host" value="http://manager-messaging.api-cnova.com.br" />
    <add key="messaging-manager-content-type" value="application/json" />
    <add key="messaging-subscriber-route" value="subscriptions" />
    <!-- Producer -->
    <add key="messaging-producer-host" value="http://producer-messaging.api-cnova.com.br" />
    <add key="messaging-producer-route" value="publish" />
    <add key="messaging-producer-content-type" value="application/json" />

    
  </appSettings>
</configuration>